:root {
    --gitblue: #0d6efd;
    --gitprimarygrey:#303841;
    --gitgrey: #3A4750;
    --gitwhite: #EEEEEE;
    --gitblack:rgb(24, 24, 24);
    --gitborder:rgb(212, 212, 212);
}

*{
    color: var(--gitprimarygrey);
}

body{
    background-color: var(--gitblack) !important; 
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin:0px;
}

#outside-grid{
    visibility: visible;
    height: inherit;
    width: inherit;
    position:absolute;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(15,1fr);
    /* grid-template-areas: 
    "main-nav main-nav main-nav main-nav main-nav main-nav"
    "secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav"
    ; */
}

.outside-grid-item{
    z-index: 2;
}

.bar{
    /* background-color: salmon; */
}

.primary-nav-bar{
    background-color: var(--gitwhite);
    grid-column: 1/-1;
    border-bottom: 1px rgb(212, 212, 212) solid;
    /* grid-area: main-nav; */
}

.secondary-nav-bar{
    background-color: var(--gitwhite);
    grid-column: 1/-1;
    /* grid-area: secondary-nav; */
}

.main-tool-bar{
    background-color: var(--gitprimarygrey);
    grid-row: 3/-1;
    /* grid-area: tool-bar; */
}

.secondary-tool-bar{
    grid-row: 3/-1;
    grid-column: 2/4;
    /* grid-area: secondary-tool-bar; */
}

.information-bar{
    visibility: hidden;
    background-color: white;
    grid-row: 3/9;
    grid-column: 16/-1;
}

.toggle-visibility-bar{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    grid-row: 14/-2;
    grid-column: 19/-2;
}



/* primary-nav-bar */

.primary-nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1%;
}
.login-details{
}
.project-name{
}

.logo-image{
    zoom: 0.4;
}

/* secondary-nav-bar */
.secondary-nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.project-operations{
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.component-values{
    flex: 2;
    display: flex;
    justify-content: space-around;
}

/* TOOL BAR */
.main-tool-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* grid-area: tool-bar; */
}



.main-tool-bar button{
    
}





/* SECONDARY_TOOL_BAR */
.secondary-tool-bar{
    padding: 5%;
    background-color: var(--gitgrey);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.secondary-tool-bar .title-component{
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    background-color: var(--gitwhite) !important;
    border-bottom: 1px var(--gitborder) solid;
    width: 100%;
    height: 5%;
}

.secondary-tool-bar .display-component{
    
    border-bottom: 1px var(--gitborder) solid;
    background-color: var(--gitwhite) !important;
    width: 100%;
    height: 20%;
}


.secondary-tool-bar .components-in{
    border-radius: 0px 0px 10px 10px;
    background-color: var(--gitwhite) !important;
    width: 100%;
    height: 80%;
}






#grid-container-placement-class{
    position: absolute;
    /* transform:translate(var(--translateX),var(--translateY)); */
    transform-origin: 0px 0px;
}
#grid-container{
    pointer-events: visible;
    position: absolute;
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--heightwidth));
  grid-template-rows: repeat(var(--rows), var(--heightwidth));
  transform-origin: 0px 0px;
}

.grid-item{
    text-align: center;
}

.grid-item-coloured{
    background-color: white;
    text-align: center;
}


.grid-item:hover{
    background-color: aqua;
}



#grid-placement-container{
    pointer-events: visible;
    position: absolute;
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--heightwidth));
  grid-template-rows: repeat(var(--rows), var(--heightwidth));
  transform-origin: 0px 0px;
}

.grid-placement-item{
    z-index: 1;
}

.toggle-visibility-bar{
    color: var(--gitwhite);
}

.wire{
    height: 100%;
    width: 100%;
}



#attached{
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: space-between;
}

#attached button{
    margin-top: 10px;
}

#the-canvas{
    height: 100%;
    width: 100%;
}